.movie-item-img
{
    height: 500px; 
    width: 100%;
    transition: transform 450ms;
}

.movie-item-img:hover
{
    transform: scale(1.08);
    background-size: contain;
}

.movie-item-img-cont
{
    overflow: hidden;
}

.movie-item
{
    background-color: #032055;
    color: white;
    margin-bottom: 20px;
    height: 620px;
    cursor: pointer;
}

.movie-item h5
{
    margin-top: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-ratings
{
   text-align: center;
}


.item-ratings img
{
    width: 20px;
}