.seatPlan
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #001232;
}
.screenHeader
{
    width: 450px;
    color: white;
    text-align: center;
    padding-top: 60px;
}

.layout
{
    display: flex;
    justify-content: center;
}

.topLine
{
    width: 75%;
    margin: 20px auto;
}

.silverPlus{
    margin-top: 40px;
    width: 350px;
    color: #31d7a9;
    text-align: center;
}

.seatCol
{
    padding: 15px 30px;
}



.availableSeatsStyle
{
   margin: 0;
   cursor: pointer;
   position: relative;
   align-items: center;
   color: white;
   font-weight: bolder;
}

.selectedSeatsStyle
{
   margin: 0;
   cursor: pointer;
   position: relative;
   align-items: center;
   color: black;
   font-weight: bolder;
}

.seatNumber
{
    position: absolute;
    width: 55px;
    margin-top: 8px;
    text-align: center;
}

.doubleSeatNumber
{
    position: absolute;
    margin-top: 8px;
    left: 22px;
}

.doubleSeatNumber2
{
    position: absolute;
    margin-top: 8px;
    right: 21px;
    text-align: center;
}

.availableSeats:hover .seatNumber
{
    visibility: hidden;
}

.seatImg
{
    width: 45px;
    margin: 0 5px;
}

.doubleSeatImg
{
    width: 90px;
    margin: 0 10px;
}