.banner
{
    background-image: url("https://pixner.net/boleto/demo/assets/images/banner/banner04.jpg");
    background-position: center;
    background-size: cover;
    padding: 120px;
    color: white;
    text-align: center;
}

.banner h1
{
    font-size: 60px;
    font-weight: 700;
}

.banner p
{
    font-size: 25px;
}


.header
{
    border-top: 1px solid #17305f;
    border-bottom: 1px solid #17305f;
    background-color: #032055;
    padding-top: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.backBtn
{
    background-image: -webkit-linear-gradient(169deg, #5560ff 17%, #aa52a1 63%, #ff4343 100%);
    padding: 11px 24px;
    text-decoration: none;
    color: #ffff;
    border-radius: 999px 999px 999px 999px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    align-self: center;
}

.date
{
    color: white;
}

.selectBar
{
    background-image: -webkit-linear-gradient(169deg, #5560ff 17%, #aa52a1 63%, #ff4343 100%);
    border-radius: 999px 999px 999px 999px;
    -webkit-box-shadow: 0px 10px 15px 0px rgb(59 55 188 / 50%);
    box-shadow: 0px 10px 15px 0px rgb(59 55 188 / 50%);
    padding: 0 8px;
    color: white;
    border: none;
    height: 36px;
    outline: none;
}

.selectBar option
{
    background-color: #5560ff;
}

.headRight
{
    color: white
}

.seatPlan
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #001232;
}
.screenHeader
{
    width: 350px;
    color: white;
    text-align: center;
    padding-top: 60px;
}

.topLine
{
    width: 75%;
    margin: 20px auto;
}

.silverPlus{
    margin-top: 40px;
    width: 350px;
    color: #31d7a9;
    text-align: center;
}

.seatCol
{
    padding: 15px 30px;
}

.seatImg
{
    width: 45px;
    margin: 0 5px;
}

.availableSeats
{
   margin: 0;
   cursor: pointer;
   position: relative;
   align-items: center;
}

.seatNumber
{
    position: absolute;
    width: 55px;
    margin-top: 8px;
    text-align: center;
    color: white;
}

.doubleSeatNumber
{
    position: absolute;
    margin-top: 8px;
    margin-left: 25px;
    color: white;
}

.doubleSeatNumber2
{
    position: absolute;
    margin-top: 8px;
    margin-left: 60px;
    text-align: center;
    color: white;
}

.availableSeats:hover .seatNumber
{
    visibility: hidden;
}

.doubleSeatImg
{
    width: 90px;
    margin: 0 10px;
}
