.plan
{
    background-color: #001232;
    min-height: 100vh;
}

.container
{
    width: 60%;
    margin: 20% 10% 0% 10%;
}


.timings
{
    display: flex;
    background-color: #01173f;
}

.left{width: 30%;}

.right{width: 70%;}

.name{
    padding: 30px;
    color: white;
    display: flex;
    border-right: 1px solid #11326f;
    border-bottom: 1px solid #11326f;
    align-items: center;
}

.timeBox
{
   display: flex;
   align-items: center;
   height: 100%;
   border-bottom: 1px solid #11326f;
}

.link
{
    text-decoration: none;
}

.time{
    padding: 6px 12px;
    margin: 0 18px;
    color: white;
    background-color: #162f5f;
    cursor: pointer;
}

.time:hover{
    background-color: #31d7a9;
    color: black;
}
